.gridWrapper {
  width: var(--grid-width, 440px);
  height: var(--grid-height, 280px);
  overflow: hidden;
  border-radius: 1rem;
  background: #121212;
  aspect-ratio: 16 / 18;
}

.trackWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.trackWrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.trackWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, transparent 0%, transparent 0%, black);
}

.sliderTrack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  animation: scrollUp 12s linear infinite;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem;
}

.termsText {
  font-size: 0.8rem;
  color: #999999;
  font-weight: 500;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 1rem;
}

.blurWrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  gap: 0.2rem;
}

.span {
  opacity: 0.8;
  font-size: 3rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.linkTo {
  text-decoration: underline;
  color: inherit;
}

.linkTo:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.bentoImageWrapper {
  aspect-ratio: 1;
  overflow: hidden;
  background: black;
}

.bentoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}


@media (max-width: 768px) {
  .gridWrapper {
    max-width: 340px;
    max-height: 240px;
    margin: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gridWrapper {
    max-width: 620px;
    max-height: 480px;
    aspect-ratio: 16 / 18;
  }
}
