.badgeChipText {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.badgeImg {
  filter: invert(1);
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}
