.btnCTA {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.68rem;
  height: 2.4rem;
  padding: 0rem 1rem;
  font-size: 0.9rem;
  font-weight: 550;
  opacity: 1;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-optical-sizing: auto;
  font-style: normal;
}

.full {
  width: 100%;
}

.auto {
  width: fit-content;
}

.buttonImg {
  width: 0.8rem;
  height: 0.8rem;
  aspect-ratio: 1 / 1;
  filter: invert(0);
}

.buttonArrow {
  width: 1.2rem;
  height: 1.2rem;
  aspect-ratio: 1 / 1;
  filter: invert(0);
}

.btnCTA:hover {
  background-color: #ff9604;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.1s ease-in-out;
  /* transform: scaleY(1.1) scaleX(1.1); */
}
