.form {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.4rem;
  position: relative;
}

.recaptchaWrapper {
  min-width: 6rem;
  min-height: 3rem;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #1a1a1a;
  border: 1px solid #1f1f1f;
  border-radius: 0.6rem;
  overflow: hidden;
}

.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.terms {
  color: #999999;
  font-size: 0.8rem;
  font-weight: 500;
}

.termsLink {
  color: inherit;
}

.termsLink:hover {
  color: #ff9604;
}

.controlWrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.altOptionsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .inputsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }

  .controlWrapper,
  .altOptionsWrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .inputsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }

  .controlWrapper,
  .altOptionsWrapper {
    flex-direction: row;
  }
}
