.HelpCenterBox {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: clamp(0.8rem, 5vw, 1rem);
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0;
  background-color: black;
  transition: background-color 0.3s ease;
}

.openBox {
  background-color: #000;
}

.top {
  width: 100%;
  padding: 1rem 0;
  border: none;
  background-color: black;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.HelpCenterBox:last-child .top {
  border-bottom: none;
}

.bottom {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    padding 0.3s ease;
}

.open {
  max-height: 1000px;
  opacity: 1;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.HelpCenterBox.openBox .title {
  opacity: 1;
  font-weight: 600;
  padding-left: 1rem;
  border-left: 4px solid #ff9604;
}

.HelpCenterBox:hover .title {
  opacity: 1;
}

.button {
  background: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

.chevronIcon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(180deg);
}

.title {
  margin-right: auto;
  text-align: start;
  font-weight: 500;
  line-height: 1.1;
  font-size: 1.2rem;
  opacity: 0.5;
  transition:
    opacity 0.2s ease,
    padding-left 0.2s ease,
    border-left 0.2s ease;
}
