.landingSection {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingSection::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 66px 60px;
  opacity: 0.2;
  pointer-events: none;
}

.landingSection > * {
  position: relative;
  z-index: 1;
}

.overlay {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    transparent,
    transparent,
    rgba(0, 0, 0, 0.8)
  );
  padding: 8rem 0;
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, transparent 0%, transparent 0%, black);
}

@keyframes meshFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.heroButtonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 0.5rem;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.badge {
  background-color: rgba(21, 21, 21, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.5rem;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 2rem black;
  margin-top: 1rem;
}

.badge::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 16rem;
  box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.badgeIcon {
  width: 0.8rem;
  height: 0.8rem;
}

.nextIcon {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1 / 1;
  filter: invert(1);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.message {
  opacity: 0.8;
  font-size: clamp(0.4rem, 3vw, 0.8rem);
}

.badge:hover {
  transform: scale(1.02);
  background-color: #1a1a1a;
}

.badge:hover .nextIcon {
  opacity: 1;
}

@media (max-width: 768px) {
  .overlay {
    min-height: 50vh;
  }

  .heroButtonsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: stretch;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .overlay {
    min-height: 75vh;
  }

  .heroButtonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}
