@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,1432,100900;1,1432,100900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@font-face {
  font-family: "interFont";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "bricolageFont";
  src: url("/fonts/BricolageGrotesqueRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "instrumentSerifFont";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", interFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  user-select: none;
}

a,
button,
input,
textarea,
select,
img,
svg,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  outline: none;
}

::selection {
  background: transparent;
  color: inherit;
}

.layout {
  scroll-behavior: smooth;
  font-family: "Inter", interFont, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-bottom: 6rem;
}
