.label {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  color: #999999;
  padding: 0;
  gap: 0.2rem;
  font-weight: 600;
}

.icon {
  width: 0.6rem;
  height: 0.6rem;
  filter: invert(1);
  opacity: 0.5;
}
