.loaderMaxView {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.loadingCircle {
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  background: transparent;
  border: 6px solid #1a1a1a;
  border-top: 6px solid #ffffff;
  border-radius: 90rem;
  animation: spin 0.8s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
