.loaderView {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.loadingCircle,
.compact {
  background-color: transparent;
  border: 8px solid #282828;
  border-top: 8px solid #ffffff;
  border-radius: 16rem;
  width: 4rem;
  height: 4rem;
  animation: spin 1.4s infinite;
}

.dynamic {
  background-color: transparent;
  border: 8px solid white;
  border-top: 8px solid blueviolet;
  border-right: 8px solid orangered;
  border-bottom: 8px solid greenyellow;
  border-radius: 16rem;
  width: 4rem;
  height: 4rem;
  animation: spin 1.4s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spanText {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .loaderView {
    height: 50vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loaderView {
    height: 30vh;
  }
}
