.maintenanceWrapper {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 1rem;
}

.title {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.message {
  font-size: 0.9rem;
  font-weight: 550;
  color: #8a8a8a;
}

.label {
  font-size: 0.9rem;
  font-weight: 550;
  color: #8a8a8a;
  margin-bottom: 2rem;
}

.img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  margin-bottom: 0.5rem;
  margin-top: auto;
}

.contentWrapper {
  width: 80.8%;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  overflow: hidden;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  border-top: 1px solid #282828;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.copyrightText {
  margin-top: auto;
  font-size: 0.8rem;
  font-weight: 550;
  color: #8a8a8a;
}

.spanText {
  color: whitesmoke;
}

@media (max-width: 768px) {
  .contentWrapper {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contentWrapper {
    width: 100%;
  }
}
