.maintenanceWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 4rem 1rem;
}

.title {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: clamp(2.6rem, 5vw, 3.5rem);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}

.message {
  font-size: 1rem;
  font-weight: 550;
  color: #8a8a8a;
}

.label {
  font-size: 0.9rem;
  font-weight: 550;
  color: #8a8a8a;
  margin-bottom: 2rem;
  color: #ff8d8d;
}

.img {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  margin-bottom: 1rem;
  margin-top: auto;
}

.contentWrapper {
  width: 80.8%;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  overflow: hidden;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 0;
}

.wrapper:last-child {
  padding-top: 1rem;
  border-top: 1px solid #1a1a1a;
}

.copyrightText {
  margin-top: auto;
  font-size: 0.8rem;
  font-weight: 550;
  color: #8a8a8a;
}

.spanText {
  color: whitesmoke;
}

@media (max-width: 768px) {
  .contentWrapper {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contentWrapper {
    width: 100%;
  }
}
