.wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  background-color: transparent;
  border-top: 0.15rem dotted #1a1a1a;
  padding-top: 1rem;
  margin-top: auto;
}

.text {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.1;
  color: #6a6a6a;
}

.noticeImg {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}
