.menuWrapper {
  background-color: rgba(12, 12, 12, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(-5%) translateY(5%);
  overflow: hidden;
  font-family: "Inter", interFont, sans-serif;
  padding: 0;
}

.ul {
  background-color: transparent;
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.linkToButton {
  position: relative;
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  min-width: 12rem;
  height: 100%;
  padding: 0 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.9rem;
}

.linkTo {
  color: inherit;
  text-decoration: none;
  min-width: 12rem;
  height: 100%;
  padding: 0 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.9rem;
}

.li {
  width: fit-content;
  height: 2.8rem;
  font-size: 1rem;
}

.li:last-child {
  border-top: 0px solid rgba(255, 255, 255, 0.08);
}

.linkToButton:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.linkTo:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.icon {
  width: 1rem;
  height: 1rem;
}
