.nav {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.navButtonsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 1.2rem;
  aspect-ratio: 1 / 1;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  padding: 0rem;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.menuBtn:hover {
  opacity: 0.6;
}

.menuImg {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.backBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  aspect-ratio: 1 / 1;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transform: translateX(-35%);
  transition: all 0.1s ease-in-out;
}

.backBtn:hover {
  opacity: 0.6;
}

.backImg {
  width: 100%;
  height: 100%;
}

.backImg {
  filter: invert(1);
  transform: rotate(90deg);
}


