.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.title {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: clamp(2.6rem, 5vw, 3.5rem);
  font-weight: 600;
  line-height: 1;
}

.miniTitle {
  font-family: "Instrument Serif", instrumentSerifFont;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  line-height: 0.9;
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  margin-bottom: 1rem;
}

.subtext {
  font-size: 1rem;
  font-weight: 500;
  color: #8a8a8a;
}

.iconWrapper {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.iconWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.45rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.icon {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    margin-top: 6rem;
  }
}
