.badgeChip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.badgeChipText {
  font-size: 0.7rem;
  font-weight: 600;
}

.building {
  color: #999999;
  font-weight: 600;
}

.shipped {
  color: greenyellow;
}

.discontinued {
  color: #999999;
  font-weight: 600;
}

.statusImg {
  width: 0.7rem;
  height: 0.7rem;
  filter: invert(0);
}
