.projectsWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.contentWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.wrapAllProjects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  gap: 0.8px;
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 1rem;
  overflow: hidden;
}

.filterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}
