.ListingWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.reviewsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
  align-items: stretch;
  gap: 0.9px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 2rem;
  overflow: hidden;
}

.fullSpan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapAll {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .ListingWrapper {
    width: 100%;
  }

  .reviewsList {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ListingWrapper {
    width: 100%;
    padding: 0;
  }

  .reviewsList {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
  }
}
