.servicePage {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
}

.serviceWrapper {
  width: 80.8%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.serviceGridWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: minmax(auto, 1fr);
  align-items: stretch;
  gap: 0.9px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
}

.bento {
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.ctasWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 0rem;
  border-top: 1px solid #1f1f1f;
  margin-top: 1rem;
}

.serviceSpecsUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.serviceSpecLi {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #1a1a1a;
}

.serviceSpecLi:first-child {
  padding-top: 0;
}

.serviceSpecLi:last-child {
  border-bottom: none;
}

.label {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 500;
  width: fit-content;
  margin-right: auto;
}

.rate,
.startingFromLbl,
.currency,
.unit {
  font-weight: 500;
  font-size: clamp(1rem, 4vw, 1.1rem);
}

.rate {
  font-weight: 500;
  color: #999999;
}

.startingFromLbl {
  font-weight: 400;
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
}

.currency {
  color: #999999;
  font-weight: 500;
  margin-left: 0rem;
}

.unit {
  font-weight: 400;
  width: fit-content;
}

.miniHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #8a8a8a;
  margin: 0rem 0rem 0.5rem 0rem;
}

.sectionBlock {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.descriptionlabel {
  font-size: clamp(0.9rem, 5vw, 1.2rem);
  font-weight: 500;
  color: #999999;
}

.badgeImg {
  width: 0.7rem;
  height: 0.7rem;
  opacity: 0.5;
  display: none;
}

.bentoHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #8a8a8a;
}

.sectionBentoBox {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.serviceSpecsUlmini {
  list-style: none;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.serviceSpecLimini,
.serviceSpecLiminiHeading {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.1;
}

.serviceSpecLiminiHeading {
  padding-bottom: 1rem;
  margin-bottom: auto;
  text-decoration: underline;
  text-decoration-color: orange;
}

.serviceSubjectsUlmini {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1.1rem;
}

.serviceSpecLiminiSubject {
  font-size: 1.1rem;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.1;
  width: 100%;
  padding: 0.8rem 0;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}

.serviceSpecLiminiSubject:first-child {
  padding-top: 0;
}

.serviceSpecLiminiSubject::marker {
  color: orange;
}

.serviceSpecLiminiSubject:last-child {
  border-bottom: none;
}

.serviceSpecLiLegal {
  font-size: 1rem;
  color: #999999;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0rem;
  margin-bottom: 0.5rem;
}

.serviceSpecLiLegal:hover {
  color: orange;
}

.folderIcon {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
  opacity: 0.5;
  margin-right: 0.4rem;
}

.nextIcon {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(1);
  opacity: 0.5;
}

.textIcon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.2rem;
  object-fit: contain;
}

.linker {
  color: inherit;
  text-decoration: underline;
}

.linker:hover {
  color: orange;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .servicePage {
    width: 100%;
    padding-top: 2rem;
  }

  .serviceWrapper {
    width: 100%;
  }

  .serviceGridWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .servicePage {
    width: 100%;
    padding-top: 4rem;
  }

  .serviceWrapper {
    width: 100%;
  }

  .serviceGridWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: minmax(auto, 1fr);
  }
}
