.titlesWrapper {
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  position: relative;
}

.serviceImgWrapper {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #1a1a1a;
  border: none;
  border-radius: 0.45rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top, pink, orangered, blueviolet);
}

.serviceImgWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.45rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.serviceImg {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.name {
  font-family: "Host Grotesk", hostGroteskFont, "Inter", interFont, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1;
  width: 65%;
}

.shortDescription {
  font-family: "Instrument Serif", instrumentSerifFont;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  line-height: 0.9;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 1rem;
}

.topWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #1a1a1a;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.columnWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.6rem;
}

.rowWrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.2rem;
}

.rowWrapperControls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.buttonsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.textIcon {
  width: 0.8rem;
  height: 0.8rem;
  filter: invert(1);
}

.category {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.category,
.type {
  font-size: 1.1rem;
  font-weight: 500;
}

.type {
  opacity: 0.4;
  font-weight: 600;
}

@media (max-width: 768px) {
  .titlesWrapper {
    width: 100%;
  }

  .name {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .titlesWrapper {
    width: 50%;
  }

  .name {
    width: 100%;
  }
}
