.shareWithWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 0rem;
}

.shareWithUl {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}

.shareWithLi {
  width: fit-content;
  height: fit-content;
}

.shareButton,
.shareWithA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.shareButton:hover,
.shareWithA:hover {
  opacity: 1;
}

.shareSocialIcon {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.shareIcon {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
