.subHeaderText {
  height: fit-content;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  font-size: clamp(1rem, 2vw, 1.1rem);
  margin-bottom: 2rem;
  color: #6a6a6a;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}
